#python-starter-inclusive {color:black}
.md-search-result__meta { color: black }
.md-search__input { color: black !important; }
nav label { color:#757575 !important; }
md-nav__link { color:#757575 !important; }